@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.all {
    display: flex;
    justify-content: center;

}

.page-container {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

* {
    font-family: sans-serif;
    text-decoration: none;
}



body {
    background-color: #0a1017;
}

.navbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}



.logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;

}

.pink {
    color: #fcc4cc;
}

.nav-login {
    display: flex;
    justify-content: end;
}

.login-btn {
    display: flex;
    background-color: #283444;
    border: none;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0, 3s ease-in-out;
    cursor: pointer;


}

.login-btn:hover {
    background-color: #CEAAFF;
    color: black;
}

.navlinks {
    display: flex;
    justify-content: center;
    gap: 30px;
    letter-spacing: 2px;
    color: white;
}

.navlinks a {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}



.hero-title {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.e-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    width: 390px;

}

.e-text {
    display: flex;
    font-size: 1.5rem;
    width: 610px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.get-started-btn {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #CEAAFF;
    margin-top: 30px;
    border: none;
    width: 180px;
    transition: ease-in-out 0.4s;

}

.get-started-btn:hover {
    transform: scale(1.1);
    background-color: #283444;

}

.arrow {
    display: block;
    width: 48px;
    height: auto;
    margin: 18px;
    justify-self: center;
    margin-top: 90px;

}

.stars-container {
    display: flex;
    margin-top: -70px;

}

.new {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-family: "Lato", sans-serif;

}

.navlinks1 {
    display: flex;
    gap: 30px;
    letter-spacing: 2px;

}

.buttons-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.buttons-container1 {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;

}

.InvestmentDAO-btn {
    background-color: #182632;
    color: #FFB4D3;
    border-radius: 34px;
    border: none;
    width: 160px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.InvestmentDAO-btn:hover {
    transform: scale(1.1);


}


.StartupDAO-btn {
    background-color: #182632;
    color: #FFC24C;
    border-radius: 34px;
    border: none;
    height: 40px;
    width: 140px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.StartupDAO-btn:hover {
    transform: scale(1.1);
}

.ServiceDAO-btn {
    background-color: #182632;
    color: #D387F7;
    border-radius: 34px;
    border: none;
    height: 40px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.ServiceDAO-btn:hover {
    transform: scale(1.1);
}

.CommunityDAO-btn {
    background-color: #182632;
    color: #77E6FF;
    border-radius: 34px;
    border: none;
    height: 40px;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.CommunityDAO-btn:hover {
    transform: scale(1.1);
}

.ImpactDAO-btn {
    background-color: #182632;
    color: #23C9DE;
    border-radius: 34px;
    border: none;
    height: 40px;
    width: 140px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.ImpactDAO-btn:hover {
    transform: scale(1.1);
}


.DeFiDAO-btn {
    background-color: #182632;
    color: #FF9E9E;
    border-radius: 34px;
    border: none;
    height: 37px;
    width: 130px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.DeFiDAO-btn:hover {
    transform: scale(1.1);
}


.More-btn {
    background-color: #182632;
    color: #707F8D;
    border-radius: 34px;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 17px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.More-btn:hover {
    transform: scale(1.1);
}

.afbeelding1 {
    width: 800px;
    height: 350px;
    display: flex;
    justify-self: center;
    margin-top: 50px;


}

.gamebox {
    display: flex;
    justify-content: center;
}

.game-text {
    background-color: #FFB4D3;
    color: #0A1117;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    position: absolute;
    top: 1270px;
    box-shadow: 0 0 35px magenta;
    font-family: 'Montserrat', sans-serif;
    margin-top: 67px;



}

.hero-sen {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.organizations,
.smart,
.contributor,
.goose,
.fundraising,
.launch,
.member,
.organisation {
    font-size: 1.6rem;
    color: #37424D;
}

.launch {
    color: #FFB4D3;
    font-size: 2rem;
}

.e-text1 {
    color: white;
    margin-top: 100px;
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 180px;

}



.e-star1 {
    margin-left: 100px;
}

.e-title1 {
    display: flex;
    justify-self: center;
    color: #E5E5E5;
    margin-top: 100px;



}



.stars4 {
    margin-right: 200px;
    width: 70px;
    height: 60px;

}

.sen {
    font-size: 2.6rem;
    font-weight: bold;
    margin-left: 100px;
}

.stars5 {

    margin-bottom: 30px;
    margin-left: 100px;
    width: 70px;
    height: 60px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.eth-con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182632;
    border: #283444 2px solid;
    border-radius: 30px;
    height: 120px;
    width: 120px;
    box-shadow: 0 0 35px #7993F9;

}

.ethereum {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 35px #7993F9;
    border-radius: 50px;


}


.pol-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182632;
    border: #283444 2px solid;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 35px #965EF4;


}

.polygon {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 35px #965EF4;
    border-radius: 50px;

}

.vec-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182632;
    border: #283444 2px solid;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 35px #008C73;



}

.vector {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 35px #008C73;
    border-radius: 50px;


}

.snap-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182632;
    border: #283444 2px solid;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 35px #FFCC4A;


}

.snapshot {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 35px #FFCC4A;
    border-radius: 50px;

}

.ens-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182632;
    border: #283444 2px solid;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 35px #A09FFE;


}

.ens {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 35px #A09FFE;
    border-radius: 50px;


}

.sea-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182632;
    border: #283444 2px solid;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 35px #3E99F3;

}

.sea {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 35px #3E99F3;
    border-radius: 50px;
}

.e-words {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 85px;
    font-weight: bold;
    margin-left: -65px;


}

.eth-text {
    color: white;
}

.pol-text {
    color: white;
}

.vec-text {
    color: white;
}

.snap-text {
    color: white;
}

.ens-text {
    color: white;
}

.sea-text {
    color: white;

}



.eth2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pol2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ens2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sea2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title3 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 150px;
    font-size: 2.7rem;
    font-family: 'Montserrat', sans-serif;
}

.people {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;

}

.image1 {
    border-radius: 40px;
    box-shadow: 0 0 30px white;
}

.image2 {
    border-radius: 40px;
    box-shadow: 0 0 30px white;
}

.image3 {
    border-radius: 40px;
    box-shadow: 0 0 30px white;
}

.image4 {
    border-radius: 40px;
    box-shadow: 0 0 30px white;
}

.image5 {
    border-radius: 40px;
    box-shadow: 0 0 30px white;
}

.text2 {
    display: flex;
    justify-content: center;
}

.sen1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    gap: 20px;
}

.sen2 {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    gap: 20px;
}

.sen3 {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    gap: 20px;
}

.smart {
    color: white;
    font-size: 2.4rem;
}

.sen4 {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    gap: 20px;
}

.word-stars {
    font-weight: bolder;
    margin-top: 100px;
}

.words-border {
    margin-top: 360px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: #2A3744 2px solid;
    background-color: #182632;
    width: 1000px;
    height: 350px;
    border-radius: 25px;
}

.text2 {
    font-size: 2.4rem;
    font-weight: bolder;
    color: white;
}

.e-text2 {
    font-size: 2.1rem;
    color: #37424D;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.email {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 400px;
    height: 60px;
    border-radius: 15px;
    background-color: #121E28;
    border: white 2px solid;
    padding-left: 30px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.link-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;


}

.subscribe-btn {
    background-color: #CEAAFF;
    border: none;
    color: black;
    height: 60px;
    width: 150px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.subscribe-btn:hover {

    transform: scale(1.1);
}

.text-star {
    color: white;
    margin-top: 500px;
    display: flex;
    justify-content: space-between;


}

.press-text {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.stars22 {
    display: flex;
    width: 50px;
    height: 50px;
}

.seeall-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #8395A7;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.press-star {
    display: flex;

}

.text-blocks { 
    display: flex;
    justify-content: center;
    gap: 20px;

}

.block1 {
    w
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 350px;
    border: none;
    background-color: #77E6FF;
    border-radius: 29px;
}

.decrypt {
    width: 150px;
    height: 50px;
    margin-top: 25px;
    margin-left: 20px;

}

.titel-block {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    color: #0A1117;
    font-family: 'Montserrat', sans-serif;
}

.sen-block {
    font-size: 1.1rem;
    color: #0A1117;
    margin-left: 20px;
    margin-top: -10px;
    width: 305px;
    height: 85px;
    font-family: 'Montserrat', sans-serif;
   
}
.read{
    margin-left: 20px;
    margin-bottom: 20px;
    color: #10151A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.block2 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 350px;
    border: none;
    background-color: #E2C1F9;
    border-radius: 29px;
}

.blockworks {
    width: 140px;
    height: 22.3px;
    margin-top: 25px;
    margin-left: 20px;

}

.titel-block1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    width: 315px;
    height: 90px;
    color: #0A1117;
    font-family: 'Montserrat', sans-serif;
}

.sen-block1 {
    font-size: 1.1rem;
    color: #0A1117;
    margin-left: 20px;
    margin-top: -5px;
    width: 305px;
    height: 85px;
    font-family: 'Montserrat', sans-serif;
   
}
.read1{
    margin-left: 20px;
    padding-bottom: -10px;
    color: #10151A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.block3 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 350px;
    border: none;
    background-color: #DBE268;
    border-radius: 29px;
}

.techcrunch {
    width: 140px;
    height: 22.3px;
    margin-top: 25px;
    margin-left: 20px;

}

.titel-block2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    width: 325px;
    height: 90px;
    color: #0A1117;
    font-family: 'Montserrat', sans-serif;
}

.sen-block2 {
    font-size: 1.1rem;
    color: #0A1117;
    margin-left: 20px;
    margin-top: -5px;
    width: 305px;
    height: 85px;
    font-family: 'Montserrat', sans-serif;
   
}
.read2{
    margin-left: 20px;
    padding-bottom: -10px;
    color: #10151A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}