body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;


}

* {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.navlinks {
    display: flex;
    font-size: 1.8rem;
    margin-top: 30px;
    gap: 60px;

}

.nav-home,
.nav-talen,
.nav-vakken,
.nav-contact {
    color: black;
}

.nav-roc-picture {
    margin-top: -40px;
}

.nav-inloggen {
    margin-top: 30px;
}

.inloggen-btn {
    font-size: 1.7rem;
    width: 180px;
    height: 60px;
    color: white;
    background-color: #3F2E57;
    transition: ease-in-out 0.3s;
    border-radius: 25px;

}

.inloggen-btn:hover {
    background-color: #5E4B80;
    cursor: pointer;
}

.introductie {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    margin-left: 100px;



}

.computer-afbeelding {
    width: 900px;
    height: 700px;


}

.introductie-titel {
    font-size: 4.5rem;
    margin-left: 100px;
    margin-top: -20px;
    color: #3F2E57;

}

.introductie-teksten {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3.8rem;
    margin-top: -50px;
    margin-right: 90px;

}

.introductie-titel-tekst {
    display: flex;
    flex-direction: column;
}

.introductie-tekst-kopje1 {
    font-weight: 300;
}

.introductie-tekst-kopje2 {
    font-weight: 300;
    width: 780px;
}

.introductie-tekst-kopje3 {
    font-weight: 300;
}

.introductie-tekst-kopje4 {
    font-weight: 300;
}

.opendagen {

    font-size: 2.9rem;
    font-weight: bolder;
    margin-top: 80px;
    margin-right: 1420px;
    color: #3F2E57;
}

.tijden {
    font-size: 2.5rem;
    margin-top: 100px;
}

.maart {
    margin-top: 35px;
}

.juni {
    margin-top: 20px;
}

.tijden-informatie {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 500px;
    justify-content: space-between;
}

.informatie-paarseblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #3F2E57;
    width: 635px;
    height: 811px;
    border-radius: 22px;

}

.zinnen-informatie {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 100px;
    color: white;
}

.opdleidingskosten,
.opleidingsniveau,
.opleidingsleerweg,
.opleidingslocatie {
    margin-top: 70px;
    font-size: 1.8rem;
    font-weight: normal;
}

.opleidingduur {
    font-size: 1.8rem;
    font-weight: normal;
}

.schoolfoto-roc {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    margin-left: -50px;
}

.navbar-footer {
    font-size: 30px;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer {
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin-top: 100px;
    height: 150px;
    width: 100%;
    background-color: #3F2E57;
}

.x-footer,
.facebook-footer,
.instagram-footer,
.youtube-footer {
    width: 50px;
    height: 50px;
    border-radius: 18px;

}

.telefoonnummer-footer {
    margin-left: 50px;
}

.email-footer {
    margin-left: 50px;
}

.socialmedia-footer {
    display: flex;
    gap: 15px;
    margin-right: 150px;
}

.middelstukvakken {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.vakken {
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
}

.titel-website {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;

}

.tekst-website {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1350px;
    font-size: 1.5rem;
}
.website{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titel-basisprogammeren {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 600;

}
.tekst-basisprogammeren {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1350px;
    font-size: 1.5rem;
}
.titel-basisict {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 600;

}
.tekst-basisict {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1350px;
    font-size: 1.5rem;
}
.titel-algemene{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 600;

}
.tekst-algemene{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1350px;
    font-size: 1.5rem;

}
.titel-keuzedelen {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 600;

}
.tekst-keuzedelen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1250px;
    font-size: 1.5rem;
}

.basisprogammeren{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.basisict{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.algemene{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.keuzedelen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.talen{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    margin-left: 100px;
}
.java-afbeelding{
    width: 200px;
    height: 150px;
}
 
.java-teksten{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 90px;
    font-size: 2rem;
 
}
 
.html-afbeelding{
    width: 200px;
}
 
.css-afbeelding {
    width: 200px;
}
 
.html-teksten{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 90px;
    font-size: 2rem;
}
 
.css-teksten{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 90px;
    font-size: 2rem;
}
 
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 40px 0;
    min-height: 100vh;    
}
 
.contact-form {
    background: #3F2E57;
    color: #fff;
    padding: 40px;        
    border-radius: 12px;
    width: 90%;          
    max-width: 500px;    
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
 
.contact-form h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
}
 
.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    background: #b97de3;
    border: 1px solid #333;
    color: #fff;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
 
.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #d6a5f7;
    box-shadow: 0 0 8px #d6a5f7;
}
 

.contact-form button {
    width: 100%;
    background: #d6a5f7;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
 
.contact-form button:hover {
    background: #b97de3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
 
@media (max-width: 600px) {
    .contact-form {
        padding: 30px;
    }
 
    .contact-form h2 {
        font-size: 1.5rem;
    }
}
 
 
.locatie-header {
    display: flex;
    justify-content: center;
}
 
.locatie-container {
    background: #3a2c57;
    padding: 40px 50px;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
 
 
 
 
.locatie-btn {
    background: #d4b5ff;
    padding: 15px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    display: inline-block;
    min-width: 240px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    min-width: 200px;
    width: 400px;

}
 
 
@media (max-width: 600px) {
    .locatie-btn {
        min-width: 80%;
        font-size: 1rem;
    }
}
 
.na-opleiding-container {
    width: 1239px;
    height: 415px;
    color: white;
    background-color: #3F2E57;
    transition: ease-in-out 0.3s;
    border-radius: 25px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 100px;
}
 
.na-opleiding-tekst  {
    margin-left: 10px;
}
.email{
    color: black;
}
 

